@import url('https://fonts.googleapis.com/css2?family=Peralta&family=Roboto:wght@500&family=Rubik:ital,wght@0,500;1,400&display=swap');
html{
    background: rgb(255,184,77);
    background: linear-gradient(0deg, rgba(255,184,77,1) 0%, rgba(77,148,255,1) 100%);
}
html, body{
    padding: 0px;
    margin: 0px;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    background-color: white;
    border-radius: 8px;
    width: 400px;
    height: auto;
    box-shadow: 0 1px 2px 0 rgba(80,87,91,.13);
    position: relative;
    top: -20px;
}
section h1{
    font-size: 1.4em;
    margin-top: 30px;
    font-family: "Rubik";
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type=text]{
    margin-top: 6px;
    margin-bottom: 20px;
    background: none;
    border: 1px solid #dadce0;
    border-radius: 4px;
    color: #757575;
    font-size: 16px;
    height: 12px;
    width: 200px;
    padding: 13px 15px;
}
input[type=text]:focus{
    border: 1px solid rgba(77,148,255,1);
    outline:  none;
}
input[type=submit]{
    font-family: Rubik;
    font-size: 14px;
    background-color: #1a73e8;
    color: whitesmoke;
    margin-bottom: 20px;
    box-shadow: none;
    border: none;
    padding: 10px;
    border-radius: 4px;
}
input[type=submit]:hover{
    background-color: #1b5fb8;
}



