@import url(/css/base.css);

section{
    width: 400px;
    position: relative;
    top: -20px;
}
@media(max-width: 424px){
    section{
        width: auto;
        padding-right: 20px;
        padding-left: 20px;
        margin: 10px;
    }
}
@media(max-width: 290px){
    section h1{
        font-size: 1.2em;
    }
    input[type=password]{
        width: 170px;
    }
}
@media(max-width: 260px){
    input[type=password]{
        font-size: 14px;
        width: 150px;
        padding: 10px 12px;
    }
}
@media(max-height: 450px){
    section{
        position: inherit;
    }
}
@media(max-height: 240px){
    body{
        height: auto;
    }
}




